.m--0 {
    margin: 0 !important;
}

.m--t--0 {
    margin-top: 0 !important;
}

.m--b--0 {
    margin-bottom: 0 !important;
}

.m--l--0 {
    margin-left: 0 !important;
}

.m--r--0 {
    margin-right: 0 !important;
}

.m--t--b--0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m--l--r--0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

// --------------------------------------------------

.m--xs {
    margin: 5px !important;
}

.m--t--xs {
    margin-top: 5px !important;
}

.m--b--xs {
    margin-bottom: 5px !important;
}

.m--l--xs {
    margin-left: 5px !important;
}

.m--r--xs {
    margin-right: 5px !important;
}

.m--t--b--xs {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.m--l--r--xs {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

// --------------------------------------------------

.m--sm {
    margin: 10px !important;
}

.m--t--sm {
    margin-top: 10px !important;
}

.m--b--sm {
    margin-bottom: 10px !important;
}

.m--l--sm {
    margin-left: 10px !important;
}

.m--r--sm {
    margin-right: 10px !important;
}

.m--t--b--sm {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.m--l--r--sm {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

// --------------------------------------------------

.m--md {
    margin: 20px !important;
}

.m--t--md {
    margin-top: 20px !important;
}

.m--b--md {
    margin-bottom: 20px !important;
}

.m--l--md {
    margin-left: 20px !important;
}

.m--r--md {
    margin-right: 20px !important;
}

.m--t--b--md {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.m--l--r--md {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

// --------------------------------------------------

.m--lg {
    margin: 40px !important;
}

.m--t--lg {
    margin-top: 40px !important;
}

.m--b--lg {
    margin-bottom: 40px !important;
}

.m--l--lg {
    margin-left: 40px !important;
}

.m--r--lg {
    margin-right: 40px !important;
}

.m--t--b--lg {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.m--l--r--lg {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

// --------------------------------------------------
// --------------------------------------------------
// --------------------------------------------------

.p--0 {
    padding: 0 !important;
}

.p--t--0 {
    padding-top: 0 !important;
}

.p--b--0 {
    padding-bottom: 0 !important;
}

.p--l--0 {
    padding-left: 0 !important;
}

.p--r--0 {
    padding-right: 0 !important;
}

.p--t--b--0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p--l--r--0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// --------------------------------------------------

.p--xs {
    padding: 5px !important;
}

.p--t--xs {
    padding-top: 5px !important;
}

.p--b--xs {
    padding-bottom: 5px !important;
}

.p--l--xs {
    padding-left: 5px !important;
}

.p--r--xs {
    padding-right: 5px !important;
}

.p--t--b--xs {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.p--l--r--xs {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

// --------------------------------------------------

.p--sm {
    padding: 10px !important;
}

.p--t--sm {
    padding-top: 10px !important;
}

.p--b--sm {
    padding-bottom: 10px !important;
}

.p--l--sm {
    padding-left: 10px !important;
}

.p--r--sm {
    padding-right: 10px !important;
}

.p--t--b--sm {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p--l--r--sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

// --------------------------------------------------

.p--md {
    padding: 20px !important;
}

.p--t--md {
    padding-top: 20px !important;
}

.p--b--md {
    padding-bottom: 20px !important;
}

.p--l--md {
    padding-left: 20px !important;
}

.p--r--md {
    padding-right: 20px !important;
}

.p--t--b--md {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.p--l--r--md {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

// --------------------------------------------------

.p--lg {
    padding: 40px !important;
}

.p--t--lg {
    padding-top: 40px !important;
}

.p--b--lg {
    padding-bottom: 40px !important;
}

.p--l--lg {
    padding-left: 40px !important;
}

.p--r--lg {
    padding-right: 40px !important;
}

.p--t--b--lg {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.p--l--r--lg {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
