//
// Colors
//

$bg-light-color: #f9f9f9;
$bg-dark-color: #11384d;
$brand-color: #33acd4;
$nav-color: #5a5a5a;
$title-color: #666666;
$text-light-color: #898989;
$border-color: #eaeaea;


//
// Typography
//

$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
