// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/owl/owl-carousel/_owl.carousel.scss";
@import "bower_components/owl/owl-carousel/_owl.theme.scss";
@import "bower_components/owl/owl-carousel/_owl.transitions.scss";
@import "bower_components/lightbox2/src/css/_lightbox.scss";
@import "bower_components/cloud-zoom/_cloud-zoom.scss";
@import "_icons/font-awesome.scss";
@import "variables.scss";
@import "help.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
// endbower
body {
  background-color: $bg-light-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
}

.header {
  position: relative;
  color: $nav-color;
  .button--ghost {
    top: -10px;
  }
}

.header__logo {
  img {
    display: block;
    position: relative;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }
}

.header__main {
  border-top: 1px solid $border-color;
  display: block;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__info {
  display: block;
  position: relative;
  list-style: none;
  padding-top: 10px;
  font-size: 12px;
  text-align: right;
  img {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    margin-bottom: 2px;
  }
  li {
    display: inline-block;
    position: relative;
    margin-left: 50px;
  }
  a {
    color: $nav-color;
  }
}

.header__nav {
  display: block;
  position: relative;
  a {
    text-transform: uppercase;
    color: $nav-color !important;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding: 15px 8px;
  }
}

.header--help {
  padding-left: 50px;
}

.button--ghost {
  display: inline-block;
  position: relative;
  color: $brand-color;
  border: 1px solid $brand-color;
  border-radius: 1px;
  background-color: transparent;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  &:hover {
    background-color: $brand-color;
    color: #fff;
    text-decoration: none;
  }
}

.button--search {
  display: inline-block;
  position: relative;
  color: #fff;
  border: 1px solid #898989;
  border-radius: 1px;
  background-color: #898989;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 50px;
  &:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
  }
}

.header__phone {
  display: inline-block;
  position: relative;
  font-weight: bold;
  margin-left: 10px;
}

@media (max-width: 1170px) {
  .header__call {
    text-align: center;
  }
  .header__nav {
    text-align: center;
  }
  .header__info {
    text-align: center;
    li {
      margin-left: 10px !important;
    }
  }
  .header__help {
    margin-left: 0;
  }
}

ul,
menu,
dir {
  -webkit-padding-start: 0px !important;
}

.nav__search {
  .form-control {
    border: 1px solid #fff;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    color: $text-light-color;
    padding: 9px 30px;
    height: auto;
    &:focus {
      box-shadow: none;
    }
    &:active {
      box-shadow: none;
    }
  }
  .input-group {
    margin-bottom: 20px;
  }
}

input[type="search"]::-webkit-input-placeholder {
  color: #bcbaba;
}

input[type="search"]::-moz-placeholder {
  color: #bcbaba;
}

input::-moz-placeholder {
  color: #bcbaba;
}

input[type="search"] {
  color: #bcbaba;
}

input[placeholder]::-moz-placeholder {
  color: #bcbaba;
}

input[placeholder] {
  color: #bcbaba;
}

.slider {
  display: block;
  position: relative;
}

.slider__block {
  position: relative;
  width: 100%;
  height: 160px;
  background-image: url('../images/app/slider.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.slider__block--1 {
  background-image: url('../images/app/slider1.png') !important;
}

.slider__block--2 {
  background-image: url('../images/app/slider2.png') !important;
}

.slider__block--3 {
  background-image: url('../images/app/slider3.png') !important;
}

.slider__block--4 {
  background-image: url('../images/app/slider4.png') !important;
}

.slider__nav {
  display: block;
  position: relative;
  margin-right: 20px;
  span {
    display: block;
    position: relative;
    color: $nav-color;
    font-size: 11px;
    font-weight: bold;
    padding: 12px 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #dfdfdf;
    &:hover {
      background-color: $brand-color;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
    &:active {
      background-color: $brand-color;
      color: #fff;
      text-decoration: none;
    }
    &:focus {
      background-color: $brand-color;
      color: #fff;
      text-decoration: none;
    }
  }
  span:nth-child(1) {
    border-top: 1px solid #dfdfdf;
  }
  img {
    display: block;
    position: absolute;
    height: 10px;
    top: 15px;
    right: 10px;
  }
}

.items-block {
  display: block;
  position: relative;
  margin-top: 32px;
}

.items-block__card {
  display: block;
  position: relative;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  height: 85px;
  text-align: center;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .16);
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: $brand-color;
  &:hover {
    border: 1px solid #e8e8e8;
    box-shadow: none;
    a {
      text-decoration: none !important;
    }
  }
  img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  span {
    display: block;
    position: relative;
    margin-top: 5px;
  }
}

.items-block__card__img {
  display: block;
  position: relative;
  width: 100%;
  height: 36px;
}

.p--5 {
  padding: 5px;
}

.about {
  display: block;
  position: relative;
  color: #fff;
  padding: 40px;
}

.about__image {
  display: block;
  width: 100%;
  min-height: 350px;
  background-image: url('../images/app/006.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__description {
  padding: 40px 30px;
  min-height: 350px;
  background-color: #898989;
}

.features {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  span {
    display: block;
    position: relative;
    font-size: 12px;
    color: $nav-color;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  p {
    display: block;
    position: relative;
    font-size: 12px;
    color: $text-light-color;
  }
}

.follow {
  display: block;
  position: relative;
  background-image: url('../images/app/007.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 65px 100px;
  margin-bottom: 30px;
  p {
    font-size: 14px;
  }
  .form-control {
    border: transparent;
    box-shadow: none;
    border-radius: 6px;
    font-size: 14px;
    color: $text-light-color;
    padding: 10px 20px;
    height: auto;
    &:focus {
      box-shadow: none;
    }
    &:active {
      box-shadow: none;
    }
  }
  .btn-danger {
    font-size: 14px;
    padding: 9px 15px;
    border-radius: 6px;
    background-color: #bf392c;
  }
}

@media (max-width: 768px) {
  .follow {
    padding: 20px 30px;
  }
}

.follow__title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.follow__help {
  display: block;
  position: relative;
  margin-top: 10px;
  font-size: 11px !important;
}

.info__article {
  display: block;
  position: relative;
  color: $text-light-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #646363;
    font-weight: bold;
  }
}

.home__articles {
  display: block;
  position: relative;
  background-color: #fff;
  padding: 40px;
  margin-top: 30px;
  margin-left: -15px;
  margin-right: -15px;
  color: $text-light-color;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #646363;
    font-weight: bold;
  }
}

.home__articles__card {
  position: relative;
}

.home__articles__link {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  color: $brand-color;
  text-decoration: underline;
  font-weight: bold;
}

.main__footer {
  display: block;
  position: relative;
  background-color: #11384d;
  padding: 50px;
  margin-top: 50px;
  color: #b3b3b3;
  span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p {
    display: block;
    margin-top: 10px;
  }
  nav {
    display: block;
    position: relative;
    a {
      display: block;
      text-decoration: underline;
      color: #b3b3b3;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}

.main__footer__images {
  position: relative;
  img {
    width: 60px;
    display: inline-block;
    position: relative;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.main__footer__social {
  display: block;
  position: relative;
  margin-top: 70px;
  img {
    display: inline-block;
    margin-bottom: 3px;
  }
}

.sub__footer {
  display: block;
  position: relative;
  background-color: #fff;
  color: #666262;
  padding-top: 10px;
  padding-bottom: 5px;
  a {
    color: #666262;
    text-decoration: underline;
  }
  img {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    width: 100%;
  }
}

.breadcrumb__block {
  display: block;
  position: relative;
  color: #898989;
  a {
    text-decoration: underline;
    color: #898989 !important;
    &:hover {
      text-decoration: none;
    }
  }
}

.page__title {
  position: relative;
  font-size: 30px;
  color: #282828;
  font-weight: 300;
}

.sub__category {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 60px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .16);
  font-size: 14px;
  text-transform: uppercase;
  color: $brand-color;
  font-weight: bold;
  &:hover {
    box-shadow: none;
    border: 1px solid #f1f1f1;
  }
}

.catalog__card {
  position: relative;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  color: #636363;
  .catalog__card_image {
    display: block;
    width: 100%;
    height: 80px;
    object-fit: contain;
  }
  .catalog__card__discription {
    p {
      font-size: 12px;
      font-weight: 300;
    }
  }
  &:hover {
    border: 1px solid $brand-color;
  }
}

.catalog__card__discription {
  display: block;
  height: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.catalog__card__title {
  a {
    font-weight: bold !important;
    color: $brand-color !important;
    &:hover {
      text-decoration: none !important;
      color: #ecbd00 !important;
    }
  }
  h4 {
    margin-bottom: 5px;
    font-weight: bold !important;
    color: $brand-color !important;
    &:hover {
      text-decoration: none !important;
      color: #ecbd00 !important;
    }
  }
  &:hover {
    text-decoration: none !important;
    color: #ecbd00 !important;
  }
}

.catalog__card__brand {
  display: block;
  color: #252525;
  margin-bottom: 10px;
  a {
    color: #252525 !important;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.catalog__card__price {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #6a6a6a;
}

.catalog__card__buy {
  display: inline-block;
  border: 1px solid #e74415;
  margin-top: 5px;
  padding: 10px 14px;
  color: $brand-color;
  &:hover {
    border: 1px solid #ecbd00;
    text-decoration: none;
  }
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  background-color: $brand-color;
  border-color: $brand-color;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
  border-radius: 0;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: 0;
}

.pagination>li>a,
.pagination>li>span {
  margin-left: 4px;
}

.product__info {
  display: block;
  color: #565454;
  margin-top: 20px;
  a {
    color: #565454 !important;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  span {
    display: block;
    position: relative;
  }
}

.product__buy {
  display: block;
  margin-top: 60px;
  border: 1px solid #ede7e7;
  padding: 20px 40px;
  color: #898989;
}

.product__buy__price {
  display: block;
  font-size: 30px;
  font-weight: bold;
  color: #6a6a6a;
}

.product__buy__buy {
  display: inline-block;
  border: 1px solid #e74415;
  margin-top: 5px;
  padding: 10px 30px;
  color: $brand-color;
  font-size: 24px;
  font-weight: 300;
  img {
    display: inline-block;
    width: 20px;
  }
  &:hover {
    border: 1px solid #ecbd00;
    text-decoration: none;
  }
}

.product__buy__title {
  color: #898989;
  font-size: 16px;
  font-weight: 300;
}

.product__buy__help {
  display: block;
  margin-top: 20px;
  a {
    color: #898989 !important;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.product__description {
  border-top: 1px solid #e9e8e8;
  color: #565454;
}

.product__description__title {
  display: block;
  font-size: 24px;
  color: #565454;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sub__categories {
  display: block;
  position: relative;
  padding: 30px;
  height: 285px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .16);
  &:hover {
    text-decoration: none;
    box-shadow: none;
    border: 1px solid #f1f1f1;
  }
  span {
    font-size: 18px;
    color: $brand-color;
    font-weight: bold;
  }
  img {
    display: inline-block;
    width: 100%;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    object-fit: contain;
  }
}

.article {
  color: #232323;
  font-weight: 300;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #282828 !important;
  }
}

.article__title {
  display: block;
  position: relative;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 30px;
}

.all__brands {
  display: block;
  text-align: center;
  padding: 40px 20px;
  margin-top: 35px;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    background-color: $brand-color;
    text-decoration: none;
    color: #fff;
  }
}

// ---------------------------------
#owl-demo .item {
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #898989;
  text-align: center;
  img {
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $brand-color;
    }
  }
}

.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}

.owl-theme .owl-buttons i {
  margin-top: 2px;
}

//To move navigation buttons outside use these settings:
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
  z-index: 2000;
  left: 0;
  top: 50px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
  right: 0;
  top: 50px;
}

// ---------------------------------------
#sync1 .item {
  display: block;
  background: #fff;
  padding: 40px;
  margin: 5px;
  width: 100%;
  height: 280px;
  color: #FFF;
  text-align: center;
  img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
}

#sync2 .item {
  display: inline-block;
  background: #fff;
  padding: 15px 20px;
  height: 60px;
  margin: 5px;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ededed;
  img {
    width: 100%;
    height: 30px;
    object-fit: contain;
  }
}

#sync2 .item h1 {
  font-size: 18px;
}

#sync2 .synced .item {
  border: 1px solid #d5d5d5;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-inner>.item>img,
  .carousel-inner>.item>a>img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .catalog__card__buy {
    padding: 12px 24px;
  }
  .catalog__card__title h4 {
    font-size: 22px;
  }
  .catalog__card__brand {
    font-size: 18px;
  }
  .main__footer nav a {
    font-size: 20px;
  }
  .header__nav a {
    font-size: 14px;
  }
  .header .button--ghost {
    padding: 12px 24px;
    font-size: 16px;
  }
}